
body {

	font-family: 'Open Sans', sans-serif;
	line-height:1.7;

}




/* ---------------creating block for building layout------------- */

 [class*="col-"] {
 
	float:left;
 
 }
		
		.ht-1 {min-height:10vh;}
		.ht-2 {min-height:20vh;}
		.ht-3 {min-height:30vh;}
		.ht-4 {min-height:40vh;}
		.ht-5 {min-height:50vh;}
		.ht-6{min-height:60vh;}
		.ht-7 {min-height:70vh;}
		.ht-8 {min-height:80vh;}
		.ht-9 {min-height:90vh;}
		.ht-10 {min-height:100vh;}


/* -----------------------block ends------------------------------ */

.img-responsive {

	height:100%;
	width:100%;

}

/*--------------------- styling for the intro section------------------------- */

#intro {
    
    background-image:;
    background-size:100% 100%;	
    background-color:;	

}



.intro-box-left {

    margin-top:150px;

}

.intro-box-right {

    margin-top:70px;
	

}

#overview {

  margin-top:50px;


}



.service-icon i,.ms-box  i,.contact-box i {

    font-size:40px;
	padding:15px;
  
}

.app-download  {


}

.app-download  img {

	width:150px;
	height:auto;
	

}


.avatar img {

	max-height:200px;
	max-width:200px;
	

}


.contact-box p {

	font-size:22px;

}

#contact-info {

	margin-top:100px;

}


.faq-link,.faq-link:hover {

    text-decoration:none;
	color:black;

}


#footer {

   margin-top:150px;

}

#about {

  margin-top:150px;

}



.blog-search-btn {
	
    margin-left:5px 
	
	
	}



